* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: navy;
    display: flex;
    padding: 20px;
}

.header-text {
    color: white;
    font-weight: bold;
    font-size: 3.5rem;
}

.add-project {
    background-color: aqua;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    margin-left: auto;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.projects-container {
    background-color: lightgray;
    height: 100vh;
    padding: 15px;
}

.projects-header {
    font-weight: bolder;
    font-size: 1.9rem;
}

.projects-item {
    display: flex;
    padding: 20px;
}

.projects-text {
    font-size: 1.9rem;
    margin-right: 15px;
    text-wrap: nowrap;
    padding-top: 10px;
}
.add-task {
    margin-left: auto;
    background-color: black;
    color: white;
}

.delete-project {
    background: darkred;
    color: white;
    margin-left: 5px;
}

.project-control{
    padding: 5px;
    font-size: 1.1rem;
    text-wrap: nowrap;
}

.selected {
    background-color: orange;
}